<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>What The Health</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/healthapp.css">
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WhatTheHealth</title>

      <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
      <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
      <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
              {{!-- <img alt="What the health logo" src="../../public/images/logoSmall.jpeg" style="width: 250px; height: 150px;"> --}}
{{!-- <img alt="What the health logo" src="http://localhost:3001/public/images/logoSmallSmall.jpeg" style="width: 250px; height: 150px;"> --}}
<img alt="What the health logo" src="http://localhost:3001/public/images/Provider-Sharma-Large-300x225.png" style="width: 250px; height: 150px;">
              
        <h1>
          What the Health
        </h1>
              <a href="/user">Sign Up</a>
      </header>
 

          {{!-- render views here --}}

          {{{ body }}}

          </div>
        </div>
  
      </main>
    </div>
  </body>

</html>
