<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatTheHealth</title> 

    <!-- use the Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- use the foundation css -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    
    <style>

      .background {
        background-image: url("background.jpg");
        height: 100vh;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        background {
          margin-top: -58.59px;
        }
      }

      footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          height: fit-content;
          background: lightblue;
      }

      footer {
          font-size: 15px;
          line-height: 1.5;
          text-align: center;
          color: #000;
          padding: 10px;
      }

      footer a {
          color: #000;
      }

    </style>
      
  </head>

  <body>

      <header>
        <nav class="top-bar" data-sticky-container.>

          <ul class="title-area">
            <li class="name">          
              <h1><a href="/" style="color: aqua;"><img src="logo_small.png" style="width: fit-content; margin-right: 1px;">WhatTheHealth</a></h1>
            </li>
      
            <!-- display the menu instead of the selections -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              
          </ul>
      
          <section id="top-bar-section" class="top-bar-section">
            <ul class="right">
              <li class="active"><a data-link="/">Home</a></li>
              <li><a data-link="/about">About us</a></li>
              <li><a data-link="/login">Login</a></li>
            </ul>
          </section>
      
        </nav>
      </header>

          {{!-- render views here --}}

    {{{ body }}}

    <footer>
      <div>
          <a href="#">Read Our Privacy Policy</a><br /> &copy; WhatTheHealth. All right reserved
      </div>
    </footer>

    <!-- initialize Foundation JS -->
    <script>
    $(document).ready(function() {
        $(document).foundation();
    })

    // menu bar clicking
    $('#top-bar-section').click(function(e) { 
      document.location.replace(e.target.dataset.link);
      
    }); 
    </script>

  </body>
</html>