<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/healthapp.css">
</head>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img src="public/images/logog.png" alt="Brand Logo">
      <h1>
        What the Health
      </h1>
            <a href="/user">Sign Up</a>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>
