<div class="medium-8 columns" style="background-color:#f1f1f1;"> 
<br>
<p> WhatTheHealth is a bridge that helps connect patients with doctors in real time. Functions include the following:
    <br>
    - For Patients:
    <li>Sign in to their account. </li>
    <li>Can view/book/check-in Appointment</li>
    <br>
    - For Doctors:
    <li>Can view their patient details</li> 
    <li>Can engage in video calls with patients</li>

    <br>

    Our Goal here at WhatTheHealth is to provide the highest quality of care that is easily accessible for our community. We are committed to creating an exceptional experience for everyone. We take into account the inevitable changes on the horizon. We know that to continue to deliver exceptional patient care, we must think and act differently, and take a new and innovative approach to the delivery of health care. We envision a new kind of health care for a healthier community – an inter-connected system of care that is organized around the patient, both inside the hospital and beyond its walls. Through partnership, working in a coordinated way across the system, we can meet the needs of our patients and continue to provide outstanding, sustainable quality patient care.
</p>