<div class="medium-8 columns" style="background-color:#f1f1f1;"> 

<p> WhatTheHealth is a bridge that helps connect patients with doctors in real time. Functions include the following:
    <br>
    - For Patients:
    <li>Sign in to their account. </li>
    <li>Can view/book/check-in Appointment</li>
    <br>
    - For Doctors:
    <li>Can view their patient details</li> 
    <li>Can engage in video calls with patients</li>
</p>