<div id="links" class="medium-4 columns link" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Appointments</a></li>
    <li><a data-link="" class="active">Dashboard</a></li>
    <li><a data-link="">Reference</a></li> 
    <li><a data-link="">Payroll</a></li>    
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
</div>   

<script>
  $('#links').click(function(e) {  
      console.log(e)
    var url = '/doctor/' + e.target.dataset.link
    console.log(url)
    document.location.replace(url);
  });
</script>       

<div class="medium-8 columns" style="background-color:#f1f1f1;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card" style="width: 300px;">
  <div class="card-divider">
  
  <h1>Dr. Sharma Hadid</h1>
  <br>
  <h2 class="title"> Doctor & Founder</h2>
  <br>
  <h2>Education </h2>
  <p>McGill University</p>
  <br>
  <h2>Position</h2>
  <p> Pedtriatic Resident</p>
  <br>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
  </div>
</div>
</div>