<div id="links" class="medium-4 columns links" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Appointments</a></li>
    <li><a data-link="prescription">Prescription</a></li>
    <li><a data-link="" class="active">Dashboard</a></li>
    <li><a data-link="">Reference</a></li> 
    <li><a data-link="">Payroll</a></li>    
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
</div>   
<script>
      $('#links').click(function(e) {  
          console.log(e)
        var url = '/doctor/' + e.target.dataset.link
        console.log(url)
        document.location.replace(url);
    });
</script> 
<div class="medium-8 columns" style="background-color:#f1f1f1;">
    
  <h2>Prescription Form</h2>

<form action="/action_page.php">
  <label for="fname">Patient Name</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Prescription:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
 <b>Add Prescription</b>
</form> 




</div>  
