<div id="links" class="medium-4 columns links" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Appointments</a></li>
    <li><a data-link="prescriptions">Prescriptions</a></li>
    <li><a data-link="bookappointments" class="active">Book Appointment</a></li>
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
</div>   
<script>
      $('#links').click(function(e) {  
          console.log(e)
        var url = '/patient/' + e.target.dataset.link
        console.log(url)
        document.location.replace(url);
    });
</script>     
<div class="medium-8 columns" style="background-color:#f1f1f1;">      
</div>