<div class="login">
  <div class="article1">
    <div class="cont1">
      <label for="username-input">UserName:</label></br>
      <span><input name="username-input" id="username-input" type="text" placeholder="Enter your input" />
      </span>
    </div>
      <label for="password-input">Password:</label></br>
      <span><input name="password-input" id="password-input" type="password" placeholder="Enter your input" />
      </span></br>
      <button class='btn' id='signUp-btn'>Sign Up!</button>
  <p><a href="">Login Instead</a></p>
  </div>

</div>

<script src="/javascript/user.js"></script>