<div class="medium-4 columns" style="background-color:#f1f1f1;">
  <ul class="side-nav">
    <li class="active"><a href="#">Calendar</a></li>
    <li><a href="#">Prescription</a></li>
    <li><a href="#">Patient Search</a></li>
    <li><a href="#">Reference</a></li>
    <li><a href="#">Earning</a></li>    
    <li><a href="#">Dashboard</a></li>
  </ul>
</div>          
<div class="medium-8 columns" style="background-color:#f1f1f1;">      

<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
{{!-- this is a workaround for storing data from the patient-routes and then accessing it in the script tag later on --}}
<input type="hidden" id="roomID" value={{roomID}}>


<script>
  var roomURL = 'https://allhands.daily.co/CheckupRoom' +  document.getElementById('roomID').value
  callFrame = window.DailyIframe.createFrame({
    showLeaveButton: true,
    iframeStyle: {
      width: '50%',
      height: '50%',
    }
  });
  callFrame.join({ url: roomURL });
  // Prompting for room name:


</script>
    
</div>