    <!-- End Top Bar -->
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script> 
<div id="links" class="medium-4 columns links" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Appointments</a></li>
    <li><a data-link="prescriptions">Prescriptions</a></li>
    <li><a data-link="bookappointments" class="active">Book Appointment</a></li>
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
</div>   
<script>
      $('#links').click(function(e) {  
          console.log(e)
        var url = '/patient/' + e.target.dataset.link
        console.log(url)
        document.location.replace(url);
    });
</script>       
<div class="medium-8 columns" style="background-color:#f1f1f1;"> 
  <div class="row column text-center">
      <h2>Waiting Room</h2>
      <hr>
    </div>

    <div>
      <div class="column">
       
        <h5> Patients Ahead </h5>
        <i class="fa-solid fa-business-time"></i>
        <p>4</p>
        
      </div>
      <div class="column">
        <i class="fa-solid fa-timer"></i>
        <h5>Total Wait Time</h5>
        <p>50 minutes</p>
        
      </div>
      <div class="column">
        <i class="fa-solid fa-business-time"></i>
        <h5>Your Wait Time</h5>
        <p>6 minutes</p>
        
      </div> 
          
      <hr>
    <a href="/patient/appointments" class="button expanded">Back to Appointments</a>
  {{!-- </body>
</html> --}}



    
</div>