<div id="links" class="medium-4 columns links" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Appointments</a></li>
    <li><a data-link="prescriptions">Prescriptions</a></li>
    <li><a data-link="bookappointments" class="active">Book Appointment</a></li>
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
  
</div>   
<script>
  
      $('#links').click(function(e) {  
          console.log(e)
        var url = '/patient/' + e.target.dataset.link
        console.log(url)
        document.location.replace(url);
    });
</script>       
<div class="medium-8 columns" style="background-color:#f1f1f1;"> 
  <div class="row column text-center">
      <h1>Waiting Room</h1>
      <hr>
    </div>

    <div class="row small-up-3 large-up-3">
      <div class="column">
       
        <h3> Patients Ahead </h3>
        <i class="fa-solid fa-business-time"></i>
        <p>4</p>
        
      </div>
      <div class="column">
        <i class="fa-solid fa-timer"></i>
        <h3>Total Wait Time</h3>
        <p>50 minutes</p>
        
      </div>
      <div class="column">
        <i class="fa-solid fa-business-time"></i>
        <h3>Your Current Wait Time</h3>
        <label id="minutes">00</label><label id="colon">:</label>
      
      <label id="seconds">00</label>
   
   
    <script type="text/javascript">
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        setInterval(setTime, 1000);

        function setTime()
        {
            ++totalSeconds;
            secondsLabel.innerHTML = pad(totalSeconds%60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds/60));
        }

        function pad(val)
        {
            var valString = val + "";
            if(valString.length < 2)
            {
                return "0" + valString;
            }
            else
            {
                return valString;
            }
        }
    </script>
        
      </div>     

{{!-- <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script> --}}
{{!-- this is a workaround for storing data from the patient-routes and then accessing it in the script tag later on --}}
<input type="hidden" id="roomID" value={{roomID}}>


<script>
  {{!-- var roomURL = 'https://allhands.daily.co/CheckupRoom' +  document.getElementById('roomID').value
  callFrame = window.DailyIframe.createFrame({
    showLeaveButton: true,
    iframeStyle: {
      width: '50%',
      height: '50%',
    }
  });
  callFrame.join({ url: roomURL }); --}}
  // Prompting for room name:


</script>
    
</div>