* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FFD600;
    --darkBrown: #2F2424;
}

.form-input{
    font-size: 20px !important;
    color: #000000 !important;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url('../images/hero\ image.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 9999;
    height: 50vh;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin: 0;
    display: inline;
    position: absolute;
    margin: 10px auto auto 30px;
}

header a {
    text-decoration: none;
    color: #fce138;
}
h5{
    color: #fff;
}
main{
    min-height: 45vh;
}

.logo {
    width: 100%;
    background-color: var(--yellow);
    height: 65px;
    opacity: 0.6;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding: 10px;
}

footer a {
    color: #000;
}